*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #ECF3FB;
}
header,
main, footer{
    max-width: 100%;
    min-width: 0%;
}




/* header */
header{
    position: absolute;
    width: 1440px;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}
.header-logo{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 120px;
    top: 2px;
}
h1{
    position: absolute;
    width: 166px;
    height: 21px;
    left: 183px;
    top: 19px;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #171717;
}
.nav-menu-list{
    position: absolute;
    width: 419px;
    height: 24px;
    left: 465px;
    top: 18px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-menu-list>li>a{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    text-decoration: none;
}
.nav-menu-list>li>a:hover{
    transition: 0.3s;
    color: red;
}

.nav-menu-list-social{
    position: absolute;
    width: 60px;
    height: 24px;
    left: 1004px;
    top: 18px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}


/* topmenu */
.topmenu{
    position: absolute;
    width: 114px;
    height: 169px;
    left: 1104px;
    top: 18px;
    list-style: none;
}
.topmenu:after {
    content: "";
    display: table;
    clear: both;
}
.topmenu > li {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
}
.topmenu > li > a {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    text-decoration: none;
}

.submenu-link:after {
    font-family: "FontAwesome";
    color: inherit;
    margin-left: 10px;
}
.submenu {
    position: absolute;
    width: 114px;
    height: 169px;
    left: 0px;
    top: 30px;
    z-index: 5;
    width: 100%;
    opacity: 0;
    transform: scaleY(0);
    transform-origin :0 0;
    transition: .5s ease-in-out;
    background: #FFFFFF;
    box-shadow: 0px 20px 48px rgba(177, 177, 177, 0.4);
    border-radius: 16px;
    list-style: none;
}
.submenu a {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #171717;
    text-decoration: none;
    padding-left: 23px;
}
.submenu>li{
    margin-top: 20px;
}
.submenu a:hover{
    transition: 0.3s;
    color: #1749B3;
    text-decoration: underline;
}
.submenu li:last-child a {border-bottom: none;}
.topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}
.topmenu-arrow{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    left: 150px;
}
.submenu>li>a>span{
    text-decoration: line-through;
}

.header-login-btn{
    position: absolute;
    width: 136px;
    height: 40px;
    left: 1184px;
    top: 10px;
    background: #1749B3;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF;
}
.header-login-btn:hover{
    transition: 0.5s;
    background: red;
}




/* main */
main{
    position: absolute;
    width: 100%;
    height: 1209px;
    left: 0;
    top: 60px;
}


/* title */
.title{
    position: absolute;
    width: 410px;
    height: 97px;
    top: 80px;
    left: 524px;
}
.title>h2{
    position: absolute;
    width: 420px;
    height: 50px;
    left: 10px;
    top: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #171717;
}
.title>h3{
    position: absolute;
    width: 490px;
    height: 27px;
    left: -20px;
    top: 70px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}
.title>h3>span{
    color: #1749B3;
}



/* common styles (subscribe-blocks) */
.subscribe-block-1,
.subscribe-block-2, .subscribe-block-3{
    position: absolute;
    width: 389px;
    height: 532px;
    left: 120px;
    top: 229px;
    background: #FFFFFF;
    box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
    border-radius: 32px;
}
.subscribe-block-1>.subscribe-blocks-title{
    left: 114px;
}
.subscribe-block-2{
    left: 525px;
}
.subscribe-block-3{
    left: 930px;
}
.subscribe-blocks-title{
    position: absolute;
    width: 87px;
    height: 45px;
    left: 151px;
    top: 60px;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: #0F0F0F;
}
.subscribe-blocks-line{
    position: absolute;
    width: 389px;
    height: 0px;
    left: 0;
    top: 137px;
    border: 1px solid #DBDBDB;
}
.subscribe-blocks-check-mark-1{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 40px;
    top: 169px;
}
.subscribe-blocks-check-mark-2{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 40px;
    top: 217px;
}
.subscribe-blocks-check-mark-3{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 40px;
    top: 265px;
}
.subscribe-blocks-text-1{
    position: absolute;
    width: 263px;
    height: 24px;
    left: 84px;
    top: 173px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5C5C5C;
}
.subscribe-blocks-text-2{
    position: absolute;
    width: 263px;
    height: 24px;
    left: 84px;
    top: 221px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5C5C5C;
}
.subscribe-blocks-text-3{
    position: absolute;
    width: 263px;
    height: 24px;
    left: 84px;
    top: 269px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5C5C5C;
}
.subscribe-blocks-price-dollar{
    position: absolute;
    width: 17px;
    height: 34px;
    left: 152px;
    top: 369px;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    color: #0F0F0F;
}
.subscribe-blocks-price{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 173px;
    top: 357px;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    color: #0F0F0F;
}
.subscribe-blocks-btn{
    position: absolute;
    width: 309px;
    height: 54px;
    left: 40px;
    top: 438px;
    background: #333333;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
}
.subscribe-blocks-btn:hover{
    transition: 0.5s;
    background: #1749B3;
}


/* invite */
.how-it-works-ivite{
    position: absolute;
    width: 1200px;
    height: 203px;
    left: 120px;
    top: 886px;
    background: #1749B3;
    box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2);
    border-radius: 32px;
}
.how-it-works-ivite-title{
    position: absolute;
    width: 171px;
    height: 36px;
    left: 80px;
    top: 44px;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    color: #FFFFFF;
}
.how-it-works-ivite-text{
    position: absolute;
    width: 508px;
    height: 55px;
    left: 80px;
    top: 104px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.how-it-works-ivite-left-side{
    position: absolute;
    width: 445px;
    height: 123px;
    left: 675px;
    top: 40px;
    background: #F1F4F8;
    border-radius: 16px;
}
.how-it-works-ivite-left-side>p{
    position: absolute;
    width: 170px;
    height: 28px;
    left: 144px;
    top: 28px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #171717;
}
.how-it-works-ivite-left-side>a{
    position: absolute;
    width: 270px;
    height: 30px;
    left: 72px;
    top: 66px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #1749B3;
}
.how-it-works-ivite-left-side>img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 350px;
    top: 69px;
}



/* footer */
footer{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 1400px;
    background: #1749B3;
}
.footer-logo{
    position: absolute;
    width: 60px;
    height: 60.91px;
    left: 120px;
    top: 40px;
}
.footer-logo-text{
    position: absolute;
    width: 170px;
    height: 24px;
    left: 193px;
    top: 58px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.footer-argument{
    position: absolute;
    width: 179px;
    height: 48px;
    left: 121px;
    top: 124px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.subscriptions-list-title{
    position: absolute;
    width: 124px;
    height: 27px;
    left: 514px;
    top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.subscriptions-list{
    position: absolute;
    width: 150px;
    height: 96px;
    left: 514px;
    top: 75px;
    list-style: none;
}
.subscriptions-list>li>a{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
}
.subscriptions-list>li>a:hover{
    transition: 0.5s;
    color: red;
}
.subscriptions-list>li{
    margin-top: 12px;
}
.site-nav-list-title{
    position: absolute;
    width: 136px;
    height: 27px;
    left: 873px;
    top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.site-nav-list{
    position: absolute;
    width: 65px;
    height: 96px;
    left: 873px;
    top: 75px;
    list-style: none;
}
.site-nav-list>li>a{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
}
.site-nav-list>li>a:hover{
    transition: 0.5s;
    color: red;
}
.site-nav-list>li{
    margin-top: 12px;
}
.agreement-1{
    position: absolute;
    width: 110px;
    height: 24px;
    left: 121px;
    top: 250px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #D3D3D3;
}
.agreement-2{
    position: absolute;
    width: 296px;
    height: 24px;
    left: 576px;
    top: 250px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #D3D3D3;
}
.agreement-3{
    position: absolute;
    width: 129px;
    height: 24px;
    left: 1193px;
    top: 250px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #D3D3D3;
}